body {
    font-family: Arial, sans-serif;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20240731/pngtree-new-nature-beautiful-background-hd-photo-image_16119530.jpg'); /* Thay đổi 'background.jpg' thành đường dẫn đến hình ảnh của bạn */
    background-size: cover; /* Để hình nền bao phủ toàn bộ màn hình */
    background-position: center; /* Căn giữa hình nền */
    background-repeat: no-repeat; /* Không lặp lại hình nền */
}


.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8); /* Thêm độ trong suốt cho background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

#student-ul {
    margin-top: 20px;
    padding: 0;
}

#student-ul li {
    background-color: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between; /* Đưa nút xóa sang bên phải */
}

#student-ul button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#student-ul button:hover {
    background-color: #c82333;
}
